extends layout

block content 
  .category_detail
    .header
      h1 #{title}: #[em #{category.name}]

    .body 
      if items.length > 0
        ul 
          each item, index in items 
            li
              a(href=item.url) #{item.name} 
            hr
      else 
        p(style='margin-bottom: 1rem') This category has no items...
        hr

      .detail_links
        p
          a.colored(href=category.url + '/update') Update category details 
        p
          a.colored_red(href=category.url + '/delete') Delete category  