extends layout 

block content 
  .items 
    .header
      h1=title
      a(href='/items/create')
        button Add New Item 

    .body 
      ul 
        each item, index in items 
          li 
            a(href=item.url) #{item.name} 
            p #[em #{item.category.name}]
            p Collected by: #{item.collected_by.name}
          if index < items.length - 1
            hr

  link(rel="stylesheet", href="/stylesheets/items.css")