extends layout

block content 
  .user_detail
    .header
      h1 #{title}: #[em #{user.family_name}, #{user.first_name}]

    .body 
      .detail
        .detail_header
          p #[strong About]: 
          p.text_box=user.about || 'No information'

        .detail_header 
          p #[strong Age]: 
          p=user.age ? (user.age + ' years old.') : 'Unknown'

        p(style='margin-top: 1rem;') These are the items collected by #{user.first_name} #{user.family_name}:

        if items.length > 0
          ul 
            each item, index in items 
              li
                a(href=item.url) #{item.name} 
              hr
        else 
          p This user has no items...
          hr

      .detail_links
        p
          a.colored(href=user.url + '/update') Update user details 
        p
          a.colored_red(href=user.url + '/delete') Delete user  